@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;
}

:root{
    --primary : #2d88ff;
    --dark: #18191a;
    --semi-dark:#242526;
    --light-dark:#3a3b3c;
    --danger:#f02849;
    --success:#45bc62;
    --warning:#e3aa27;
    --text:#c1c3c7;
}

body{
    background-color: var(--dark);
}

.nav{
    background-color: var(--semi-dark);
    height: 60px;
    display: flex;
}
.left{
    width: 250px;
}
.center{
    width: 500px;
}
.right{
    width: 250px;
}